/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
  font-family: @font-family-sans-serif;
  color: @geDarkGray;
  background-color: @geDarkGray;
} 

input::-moz-focus-inner {
  border: 0;
}


.button{
	background-color: @geMedBlue;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	padding: 13px 30px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	&:hover,
	&:active,
	&:focus{
		background-color: @geDarkBlue;
		text-decoration: none;
		color: white;
	}
}

h1{
	font-size: 22px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	line-height: 45px;
	color: @geDarkBlue;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 15px;
}

h2{
	background-color: @geGreen;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-align:center;
	padding: 14px 0;
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin-top: -24px;
	font-weight: bold;
	margin-bottom: 55px;
	@media(max-width:939px){
		margin-bottom: 45px;
	}
}

h3{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: @geDarkBlue;
	text-align: center;
	margin-top:26px;
	margin-bottom: 3px;
	@media(max-width:939px){
		font-size: 16px;
		margin-bottom: 0;
	}
	&:after{
		content:"";
		display: block;
		text-align: center;
		width: 60px;
		border-top: 2px solid @geDarkBlue;
		margin: 21px auto 0 auto;
	}
	a{
		color: @geDarkBlue;
		text-decoration: none;
		&:hover,
		&:active{
			color: @geDarkerBlue;
			text-decoration: none;
		}
	}
}

p{
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	@media(max-width:939px){
		font-size: 14px;
		line-height: 25px;
	}
}

.bg-gray{
	background-color: @geLightGray;
}

section{
	padding-bottom:60px;
	@media(max-width:939px){
		padding-bottom: 50px;
	}
}

.featherlight-box{
	display:none;
}

header{
	background-color: white;
	height: 112px;
	border-bottom: 5px solid @geDarkBlue;
	img{
		margin-top:10px;
		@media(max-width:767px){
			float: right;
		}
		@media(max-width:430px){
			width: 230px;
			margin-top: 17px;
		}
	}
	@media(max-width:430px){
		height:90px;
	}
	ul{
		float:right;
		margin-top: 37px;
		li{
			float: left;
			list-style-type:none;
			border-top: 3px solid white;
			margin-left:25px; 
			position: relative;
			z-index:20;
			a{
				font-size: 16px;
				text-transform: uppercase;
				font-weight: bold;
				color: @geDarkBlue;
				display:block;
				padding-top: 13px;
				-webkit-font-smoothing: antialiased;
				position: relative;
				z-index:20;
				&:hover,
				&:active,
				&:focus{
					text-decoration: none;
				}
			}
			@media(max-width:840px){
				margin-left: 13px;
				a{
					font-size: 13px;
				}
			}
			&:hover,
			&.active{
				border-color: @geGreen;
			}
			&:hover{
				ul{
					display:block;
				}
			}
		}//li
		ul{
			position:absolute;
			padding:0;
			margin: 0;
			border-left: 3px solid @geDarkBlue;
			background-color: white;
			padding-top:30px;
			margin-top:-19px;
			margin-left: -12px;
			z-index:10; 
			display:none;
			li{
				margin: 0;
				border-top: 0;
				white-space:nowrap;
				width: 100%;
				a{
					color: white;
					display:block;
					font-size:14px;
					cursor:pointer;
					background-color: @geDarkBlue;
					padding: 9px 15px;
					&:hover,
					&:active,
					&:focus{
						background-color: @geGreen;
						color: white;
					}
				}//a
				&.active{
					a{
						background-color: @geGreen;
					}
				}
			}//li
		}//ul
	}//ul
	.snap-trigger-left{
		background: url('/assets/img/elements/nav-mobile-button_26x22@2x.png') center center no-repeat transparent;
		width:52px;
		height: 44px;
		display:block;
		position:absolute;
		top: 30px;
		cursor:pointer;
		@media(max-width:430px){
			background: url('/assets/img/elements/nav-mobile-button_26x22.png') center center no-repeat transparent;
			width: 26px;
			height: 22px;
		}
	}
}

#banner{
	background: url('/assets/img/elements/banner_1420x387.jpg') center center no-repeat;
	.at2x('/assets/img/elements/banner_1420x387', 'jpg', 1420px, 387px);
	background-color: @geMedBlue;
	background-size: cover;
	color: white;
	text-align: center;
	padding:  65px 0 25px 0;
	@media(max-width:589px){
		padding: 55px 0 15px 0;
	}
	h1{
		font-size: 34px;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		line-height: 45px;
		padding-bottom:23px;
		color: white;
		text-transform: none;
	}
	p{
		font-size: 22px;
		line-height: 34px;
	}
	h1,
	p{
		max-width: 750px; 
		margin: 0 auto;
	}
	@media(max-width:722px){
		h1{
			font-size: 28px;
			line-height:38px;
			padding-bottom:15px;
		}
		p{
			font-size:18px;
			line-height: 30px;
			max-width:600px; 
		}
	}
}

.page-1 #banner{
	padding-bottom: 70px;
	@media(max-width:589px){
		padding-bottom: 60px;
	}
}
#home-ctas,
#about-ctas,
#what-we-do{
	.col-xs-height{
		background-color: white;
	}
}
#what-we-do,
#press-media,
#home-ctas,
#about-ctas{
	padding-top: 60px;
	@media(max-width:589px){
		padding-top: 50px;
		padding-bottom: 38px;
	}
	img{
		width: 100%;
	}
	.col-xs-height{
		//background-color: white;
		float: none;
		padding:0;
		border-left: 15px solid @geLightGray;
		border-right: 15px solid @geLightGray;
		vertical-align: top;
		@media(max-width:939px){
			width: 33.33%;
		}
		@media(max-width:570px){
			img{
				width: 100%;
				position:relative;
				height:auto;
				min-width:inherit;
			}
			.desc{
				margin-left:0;
				width:100%;
			}
		}
	}
	p{
		padding: 15px;
		text-align: center;
		@media(max-width:939px){
			font-size: 14px;
			line-height: 25px;
		}
	}
	.desc{
		padding-bottom: 48px;
	}
	.button{
		width: 100%;
		text-align:center;
		float: left;
		position:absolute;
		bottom: 0;
	}
}
#home-ctas .col-xs-height,
#about-ctas .col-xs-height{
	@media(max-width:722px){
	  width: 100%;
		display:block;
		float: left;
		margin-bottom: 15px;	
	}
}

#what-we-do{
	padding-top: 0;
	margin-top: -40px;
	.col-xs-height{
		@media(max-width:722px){
			overflow: hidden;
			width: 100%;
			display:block;
			float: left;
			margin-bottom: 15px;
			img{
				width: 33%;
				float:left;
				position: absolute;
				height: 100%;
				width: auto;
				min-width:223px;
				height: auto;
				min-height: 100%;
			}
			.desc{
				float:right;
				width: 66%;
				margin-left:33%;
				position: relative;
				background-color:white;
			}
		}
	}
	.desc{
		padding-bottom: 0;
	}
}

#press-media{
	padding-top: 0;
	margin-top: -40px;
	.row-same-height{
		margin-bottom: 30px;
		.col-lg-4{
			background-color: white;
			&.empty{
				background-color: transparent;
			}
			a{
				display:block;
			}
			.desc{
				padding-bottom:0;
			}
			h3{
				font-size: 18px;
				&:after{
					margin-top: 18px;
				}
			}
			p{
				padding:10px 15px;
				margin-bottom:11px;
			}
		}
	}
}

#about-ctas{
	padding-top: 0;
	margin-top: -40px;
	padding-bottom:0;
	p{
		margin-bottom: 0;
	}
	.desc{
		padding: 0 0 20px 0;
	}
	h1{
		margin-top: 12px;
	}
}

#about-lists{
	padding-bottom: 0;
	margin-bottom: -78px;
	@media(max-width: 510px){
		margin-bottom: 0;
		padding-bottom: 20px;
	}
	h1{
		margin-top: 12px;
	}
	ul{
		min-height:150px;
		width: 33.33%;
		padding: 0;
		float:left;
		padding-right: 15px;
		@media(max-width: 768px){
			width: 50%;
			&:last-child{
				margin-top: -50px;
			}
		}
		@media(max-width: 510px){
			min-height: inherit;
			width: 100%;
			float: none;
			margin-bottom: 25px;
			&:last-child{
				margin-top: 0;
			}
		}
		li{
			&:first-child{
				font-weight: bold;
				list-style-type:none;
				margin-left: 0;
			}
			margin-left:15px;
		}
	}
}

#giving-back{
	padding-bottom:0;
	margin-top:-40px;
	img{
		max-height: 145px;
		display:block;
		margin-bottom:30px;
		max-width:100%;
		//margin: 0 auto;
	}
	@media(max-width:589px){
		//padding-bottom:40px;
		margin-bottom:-40px;
		.col-xs-height{
			width: 100%;
			display:block;
			float: left;
			margin-bottom:30px;
		}
		.row-same-height{
			display:block;
			width: 100%;
			float:left;
		}
		img{
			max-height: inherit;
			
			margin: 0 auto;
			margin-bottom:10px;
		}
	}
	p{
		margin-bottom:0;
	}
	.row-same-height{
		margin-bottom:50px;
	}
}

#stats{
	.number{
		font-size: 60px;
		width: 100%;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		border-top: 5px solid @geGreen;
		display: inline-block;
	}
	.desc{
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		display: block;
	}
	@media(max-width:1000px){
		.number{
			font-size: 40px;
		}
	}
	@media(max-width:722px){
		.number{
			font-size: 35px;
		}
		.desc{
			font-size: 12px;
		}
	}
	@media(max-width:590px){
		padding-bottom:15px;
		.col-md-3{
			width: 100% !important;
			padding-left: 15px;
			text-align: center;
			padding-bottom:35px;
			&:first-child{
				padding-left: 15px;
			}
		}
		.number{
			padding-top:3px; 
			font-size: 40px;
		}
		.desc{
			font-size: 16px;
		}
	}
}

#map{
	position:relative;
	img{
		max-width: 100%;
	}
	#markers{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index:30;
		top:0;
		.marker{
			width: 16px;
			height: 16px;
			display:block;
			position: absolute;
			z-index:40;
			background: url('/assets/img/elements/map-dot_27x27.png') center center no-repeat transparent;
			//.at2x('/assets/img/elements/map-dot_27x27', 'png', 27px, 27px);
			background-size: contain;
			cursor:pointer;
			margin-top:-8px;
			margin-left:-8px;
			&:hover{
				z-index:50;
				.desc{
					display:block;
				}
			}
			.desc{
				background-color: @geTransparentBlack;
				width:305px;
				color: white;
				min-height:30px;
				position:absolute;
				left: -37px;
				bottom: 33px;
				cursor: default;
				display: none;
				margin-top:-18px;
				p{
					margin: 0;
					padding: 7px 10px;
				}
				img{
					max-width: 305px;
					width: 100%;
				}
				&:after{
					width: 0; 
					content: '';
					height: 0; 
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-top: 18px solid @geTransparentBlack;
					position:absolute;
					left: 30px;
					bottom: -18px; 
				}
			}//desc
		}
	}
}

footer{
	border-top: 5px solid @geMedGray;
	background-color: @geDarkGray;
	color: white;
	padding: 40px;
	p{
		font-size: 12px;
		margin: 0;
		text-align: center;
		a{
			color: white;
			font-weight: bold;
			&:hover,
			&:active,
			&:focus{
				color: @geMedGray;
				text-decoration: none;
			}
		}
	}
}


//Mobile Drawer -------------------
#content_container {
  background-color: @geDarkBlue;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: @geDarkBlue;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: @geDarkBlue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
	      background-color: @geDarkBlue;
        &.active,
        &:hover{
          background-color: @geDarkerBlue;
          a{
            color: white;
          }
          ul li a{
            //background-color: @geMedBlue;
            color: white;
            &:hover,
            &:active{
              color: white;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: white;
          }
        }
        ul{
          li{
	          &.active{
		          background-color: @geBlue;
	          }
            a{
              color: white;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              color: white;
            }
          }
        }
        a{
          color: white;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid white;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
          letter-spacing:.5px;
          &:hover,
          &:active,
          &:focus{
            //background-color: @gray-lighter;
            color: white;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers