* html {
  /* IE6 */
  font-family: 'range_2';
}
* + html {
  /* IE7 */
}
/*
@media \0screen {
  html {  // IE8
      //font-family: 'desktop'
  }
}
*/
/* Reset your font families here!
----------------------------------- */
/* Queries for supported browsers.
----------------------------------- */
body:after {
  display: none;
}
@media screen and (max-width: @screen-xs-max) {
  html {
    font-family: "range_0";
  }
  body:after {
    content: "range_0";
  }
}
@media screen and (min-width: @screen-xs) and (max-width: @screen-sm-max) {
  html {
    font-family: "range_1";
  }
  body:after {
    content: "range_1";
  }
}
@media screen and (min-width: @screen-sm) and (max-width: @screen-ms-max) {
  html {
    font-family: "range_2";
  }
  body:after {
    content: "range_2";
  }
}
@media screen and (min-width: @screen-ms) and (max-width: @screen-md-max) {
  html {
    font-family: "range_3";
  }
  body:after {
    content: "range_3";
  }
}
@media screen and (min-width: @screen-md) and (max-width: @screen-lg-max) {
  html {
    font-family: "range_4";
  }
  body:after {
    content: "range_4";
  }
}
@media screen and (min-width: @screen-lg) {
  html {
    font-family: "range_5";
  }
  body:after {
    content: "range_5";
  }
}
