/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
  font-family: @font-family-sans-serif;
  color: @geDarkGray;
} 

header{
	background-color: white;
	height: 112px;
	border-bottom: 5px solid @geDarkBlue;
	img{
		margin-top:20px;
	}
}

h1{
	font-size: 34px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	line-height: 45px;
}

h2{
	background-color: @geGreen;
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-align:center;
	padding: 14px 0;
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin-top: -24px;
	font-weight: bold;
	margin-bottom: 55px;
	@media(max-width:939px){
		margin-bottom: 45px;
	}
}

h3{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: @geDarkBlue;
	text-align: center;
	margin-top:26px;
	margin-bottom: 3px;
	@media(max-width:939px){
		font-size: 16px;
		margin-bottom: 0;
	}
	&:after{
		content:"";
		display: block;
		text-align: center;
		width: 60px;
		border-top: 2px solid @geDarkBlue;
		margin: 21px auto 0 auto;
	}
}

p{
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 26px;
	@media(max-width:939px){
		font-size: 14px;
		line-height: 25px;
	}
}

.bg-gray{
	background-color: @geLightGray;
}

section{
	padding-bottom:60px;
	@media(max-width:939px){
		padding-bottom: 50px;
	}
}

#banner{
	background: url('/assets/img/elements/banner_1420x387.jpg') center center no-repeat;
	.at2x('../img/elements/banner_1420x387.jpg', 1420px, 387px);
	background-color: @geMedBlue;
	background-size: cover;
	color: white;
	text-align: center;
	padding:  65px 0 70px 0;
	h1{
		padding-bottom:23px;
	}
	p{
		font-size: 22px;
		line-height: 34px;
	}
	h1,
	p{
		max-width: 750px; 
		margin: 0 auto;
	}
	@media(max-width:722px){
		h1{
			font-size: 28px;
			line-height:38px;
			padding-bottom:15px;
		}
		p{
			font-size:18px;
			line-height: 30px;
			max-width:600px; 
		}
	}
}

#what-we-do{
	img{
		width: 100%;
	}
	.col-xs-height{
		background-color: white;
		float: none;
		padding:0;
		border-left: 15px solid @geLightGray;
		border-right: 15px solid @geLightGray;
		vertical-align: top;
		@media(max-width:939px){
			width: 33.33%;
		}
		@media(max-width:722px){
			width: 100%;
			display:block;
			float: left;
			margin-bottom: 15px;
			img{
				width: 33%;
				float:left;
				position: absolute;
				height: 100%;
				width: auto;
				min-width:223px;
			}
			.desc{
				float:left;
				width: 66%;
				margin-left:33%;
				position: relative;
				background-color:white;
			}
		}
		@media(max-width:570px){
			img{
				width: 100%;
				position:relative;
				height:auto;
				min-width:inherit;
			}
			.desc{
				margin-left:0;
				width:100%;
			}
		}
	}
	p{
		padding: 15px;
		text-align: center;
		@media(max-width:939px){
			font-size: 14px;
			line-height: 25px;
		}
	}
}

#stats{
	.number{
		font-size: 60px;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		border-top: 5px solid @geGreen;
		display: inline-block;
	}
	.desc{
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		display: block;
	}
	@media(max-width:722px){
		.col-md-3{
			width: 33.33% !important;
			&:first-child{
				padding-left:10%;
			}
		}
		.number{
			font-size: 50px;
		}
		.desc{
			font-size: 14px;
		}
	}
	@media(max-width:590px){
		padding-bottom:15px;
		.col-md-3{
			width: 100% !important;
			padding-left: 15px;
			text-align: center;
			padding-bottom:35px;
			&:first-child{
				padding-left: 15px;
			}
		}
		.number{
			padding-top:3px;
		}
	}
}

footer{
	border-top: 5px solid @geMedGray;
	background-color: @geDarkGray;
	color: white;
	padding: 40px;
	p{
		font-size: 12px;
		margin: 0;
		text-align: center;
		a{
			color: white;
			font-weight: bold;
			&:hover,
			&:active,
			&:focus{
				color: @geMedGray;
				text-decoration: none;
			}
		}
	}
}

//Mobile Drawer -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          //background-color: @gray-lighter;
          a{
            color: blue;
          }
          ul li a{
            background-color: white;
            color: gray;
            &:hover,
            &:active{
              color: blue;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: blue;
          }
        }
        ul{
          li{
            a{
              color: gray;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: @gray-lighter;
              color: blue;
            }
          }
        }
        a{
          color: gray;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            //background-color: @gray-lighter;
            color: @geMedBlue;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers