//
// Utility classes
// --------------------------------------------------

.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    //float: none !important;
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .hide-text();
}

.no_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  // IE 6/7 fallback
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}



// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
