			<footer>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<p>© 2017 Stone Legacy Group, LLC. All rights reserved. Site Design: <a href="http://keystoneresources.com/" target="_blank">Keystone Resources</p>
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
		</footer>	
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>