<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
      <div class="drawer_container">
         <nav>[[Wayfinder? &startId=`0` &level=`2`]]</nav>
      </div><!--/.drawer_container -->
  </div><!--/.snap-drawer left --> 
</div><!--/.snap-drawers --> 

<div id="content_container">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-ms-4 col-sm-12 col-xs-12">
						<img src="/assets/img/images/stone-legacy-group-logo.png" alt="Stone Legacy Group, LLC" title="Stone Legacy Group, LLC" />
					</div><!--/.col-->
					<div class="col-md-8 col-ms-8 col-sm-12 col-xs-12"> 
						[[Wayfinder? &startId=`0` &level=`2` &outerClass=`hidden-sm hidden-xs`]]
						<div class="snap-trigger-left text-hide visible-sm visible-xs">NAV</div>
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</header>
		
		<section id="banner" class="bg-blue">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-xs-12">
						[[*id:is=`1`:then=`
							<h1>[[*introtext]]</h1>
							[[*content]]
						`]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
		
		
		
		
