<div class="col-lg-4 col-md-4 col-ms-4 col-sm-12 col-xs-12 col-xs-height">
	[[+pressLink:isnt=``:then=`
		<a href="[[+pressLink]]" title="[[+pressTitle]]" target="_blank">
			<img src="[[+pressImage]]" alt="[[+pressTitle]]" title="[[+pressTitle]]" />
		</a>
	`]]
	[[+pressFile:isnt=``:then=`
		<a href="[[+pressFile]]" title="[[+pressTitle]]" target="_blank" data-[[+pressVideo]]="#video[[+idx]]"> 
				<img src="[[+pressImage]]" alt="[[+pressTitle]]" title="[[+pressTitle]]" />
			</a>
	`]]
	
	[[+pressFile:is=``:and:if=`[[+pressLink]]`:is=``:then=`<img src="[[+pressImage]]" alt="[[+pressTitle]]" title="[[+pressTitle]]" />`]]
	<div class="desc">
		[[+pressLink:is=``:then=`
			[[+pressFile:is=``:then=`
			<h3><a href="[[+pressLink]]">[[+pressTitle]]</a></h3>
			`:else=`
			<h3><a href="[[+pressFile]]">[[+pressTitle]]</a></h3>
			`]]
		`:else=`
		<h3><a href="[[+pressLink]]">[[+pressTitle]]</a></h3>
		`]]
		
		<p>[[+pressDate]]</p>
	</div><!--/.desc-->
</div><!--/.col--> 
[[+pressVideo:isnt=``:then=`
<div id="video[[+idx]]" class="featherlight-box">
	<video width="500" height="300" controls>
	<source src="[[+pressFile]].webm" type="video/webm">
  <source src="[[+pressFile]].mp4" type="video/mp4">
  <source src="[[+pressFile]].ogv" type="video/ogg">
	Your browser does not support the video tag.
	</video>
</div> 
`]]