<div class="marker" style="left:[[+markerX]]%; top:[[+markerY]]%;">
	<div class="desc">
		[[+markerImage:isnt=``:then=`
		<img src="[[+markerImage]]" title="[[+markerTitle]]" alt="[[+markerTitle]]" />
	`]]
		<p><strong>[[+markerTitle]]</strong><br />
			[[+markerDesc:isnt=``:then=`[[+markerDesc]] Units`]]
			[[+markerFootage:isnt=``:then=`[[+markerFootage]] Sq. Ft.`]]
		</p>
	</div>
</div>