<div class="col-lg-4 col-md-4 col-ms-4 col-sm-12 col-xs-12 col-xs-height">
	<div class="desc">
		<h3>[[+ctaTitle]]</h3>
		<p>[[+ctaDesc]]</p>
		<a href="[[+ctaButtonLink]]" class="button">[[+ctaButtonText]]</a>
	</div><!--/.desc-->
</div><!--/.col-->