<div class="col-lg-6 col-md-6 col-ms-6 col-sm-6 col-xs-12 col-xs-height">
	<img src="[[+itemImage]]" alt="[[+itemTitle]]" title="[[+itemTitle]]" />
	<div class="desc">
		<p><strong>[[+itemTitle]]</strong></p>
		<p>[[+itemDesc]]</p>
	</div><!--/.desc-->
</div><!--/.col-->