[[$head]]
[[$header]]
		<section class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						<div id="map">
							<img src="/assets/img/elements/guardian_map.png" />
							<div id="markers">
							 	[[getImageList?
				          &tvname=`MIGX-portfolio_markers`
				          &tpl=`tpl-migx-portfolio_markers`
				         ]]	
							</div><!--/#markers-->
						</div><!--#map-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
		<section id="stats" class="bg-gray">
			<div class="container">
				<div class="row">
					[[getImageList?
	          &tvname=`MIGX-portfolio_stats`
	          &tpl=`tpl-migx-portfolio_stats`
	          &limit=`4`
	         ]]	
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
[[$footer]]