[[$head]]
[[$header]]
		<section class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						[[*content]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
		<section id="press-media" class="bg-gray">
			<div class="container">
				<div class="row">
						[[getImageList?
              &tvname=`MIGX-press_media`
              &tpl=`tpl-migx-press_media`
            ]]	
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
[[$footer]]