[[$head]]
[[$header]]

		<section class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						[[*content]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
		
		<section id="giving-back" class="bg-gray">
			<div class="container">
				<div class="row">
					[[getImageList?
	          &tvname=`MIGX-giving_back`
	          &tpl=`tpl-migx-giving_back`
	         ]]	
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
		

[[$footer]]