[[$head]]
[[$header]]
<section id="banner" class="bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			[[*content]]	
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->
</section>
[[$footer]]