[[$head]]
[[$header]]
		<section class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						[[*content]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>	
		<section id="about-ctas" class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="row-same-height">
						[[getImageList?
              &tvname=`MIGX-about_ctas_2`
              &tpl=`tpl-migx-about_ctas_2`
							&limit=`2`
             ]]	
					</div><!--/.row-same-height-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>		
		<section id="about-lists" class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						[[*about_detail_content]]
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
[[$footer]]