[[$head]]
[[$header]]
		<section id="home-ctas" class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="row-same-height">
						<div class="col-lg-2 col-md-2 col-ms-1 hidden-sm hidden-xs"></div>
							[[getImageList?
                &tvname=`MIGX-home_ctas`
                &tpl=`tpl-migx-home_ctas`
                &limit=`2`
               ]]						
             <div class="col-lg-2 col-md-2 col-ms-1 hidden-sm hidden-xs"></div>
					</div><!--/.row-same-height-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>		
[[$footer]]